.real-conversion {
    width: 60%;
    height: auto;
}

.amount {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

@media (max-width: 375px) {
    .real-conversion {
        width: 277px;
    }

    .amount {
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;        
    }
}