.information-rectangle {
    width: auto;
    border-radius: 8px;
    background: #E8F3FF;
    box-shadow: 0px 2px 4px 0px #0000000D;
    display: grid;
    align-items: center;
}

.information-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    margin: 1vw 2vw;
}

@media (max-width: 768px) {
    .information-rectangle {
        display: none;
    }
}