.other-conversion {
    width: 40%;
    height: 40%;
}

.small-amount {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;    
}