.app {
  width: 1280px;
  height: 295px;
  top: 60px;
}

.currency-exchange {
  width: 1280px;
  height: 60px;
  background: #0E1342;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.header-title {
  width: 709.97px;
  height: 20px;
  top: 20px;
  left: 54.61px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}